.container_small-card{
    width: 700px;
    margin-bottom: 15px;
}

.container_small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card_photo{
    width: 250px;
    max-width: 250px;
    margin-right: 20px;
}

.small-card_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_small-card_separator{
    margin-top: 10px;
}

a{
    text-decoration: none;
}