.container_content{
    border: 1px solid white;
    width: 100%;
    height: 100vh;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_cover>img{
    border: 4px solid rgb(85, 85, 85);
    border-radius: 5px;
    width: 500px;
    min-width: 500px;
    height: 300px;
}

.content_description{
    margin-top: 15px;
}

.content_description>p{
    color: grey;
}